@font-face {
    font-family: buttons;
    src: url(fonts/Orbitron-Regular.ttf);
}

@font-face {
    font-family: Display;
    src: url(fonts/ChakraPetch-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 60vh;
    min-height: 285px;
    min-width: 170px;
    width: 30vw;
    background-color: rgba(80, 80, 80, 1);
    padding: 16px;
    border-radius: 5px;
}

.display {
    font-family: Display;
    background-color: rgba(129, 129, 128, 1);
    height: 25%;

    display: flex;
    justify-content: right;
    align-items: center;

    padding: 20px;
    color: whitesmoke;
    font-size: 24px;
}

.buttons {
    font-family: Buttons;
    height: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 12px;
    column-gap: 1%;
    row-gap: 2.5%;
    color: rgba(80, 80, 80, 1);
}

#del {
    font-size: 20px;
}

.button {
    flex: 1 1 18%;
    width: 23%;

    background-color: whitesmoke;
    font-size: 24px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.button.special {
    flex: 2 1 59%;
}

.button.special>div {
    background-color: rgba(213, 213, 213, 1);
}

footer {
    position: absolute;
    bottom: 1vh;

    font-family: Poppins;
    font-size: 18px;

    color: rgba(80, 80, 80, 1);
}

footer a {
    text-decoration: none;
    color: rgba(80, 80, 80, 1);
}
